@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  --text-color: white;
  --bg-url: url(/assets/bg-mobile-dark\ \(1080x1920\).jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color:  rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05) ;
  --icons-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(/assets/moon-starts.svg);
}
.light-mode {
  --text-color: black;
  --bg-url: url(/assets/light-mode.jpg);
  --stroke-color:rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02) ;
  --icons-hover: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(/assets/sun.svg) ;
}
body {
  /*background-page*/
  background-image: var(--bg-url);
  background-repeat: none;
  background-position:top center;
  background-size: cover;
  height: 100vh;
 /*values*/

  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}
.principal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;

  padding-top: 5.6rem;
  margin: auto;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  gap: 0.8rem;
}
.profile img {
  width: 11rem;
  align-items: center;
}
.profile p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  align-items: center;
}
/*Button-switch*/
.button-content {
  position: relative;
  width: 6.4rem;
  margin: .4rem auto;
}
.button-color {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  border-radius: 50%;
  background:white var(--switch-bg-url) no-repeat center;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
 
}
.light-mode .button-color {
  right: 0;
  left: initial;
}
/*span-button*/
span{
  display: block;
  width: 6.4rem;
  height: 2.4rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 99.99rem;
}
/*button-links*/
ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2.4rem;
  list-style: none;
  width: 36rem;
  gap: 1.6rem;
}
ul li {
  width: 100%;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1.6rem 2.4rem;
  
  
  /*style*/
  color: var(--text-color);
  text-decoration: none;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: .8rem;

  /*style-text*/
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-align: center;
}
li a:hover {
  background:var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
  font-size: 2.4rem;
}
.social .icon{
  padding: 1.6rem;
  gap: .8rem;
}
.social .icon:hover {
  background: var(--icons-hover);
  border-radius: 50%;
}
.phrase p {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  align-items: center;
  padding: 2.4rem;
}
/*Media queries*/

@media (min-widht: 70rem) {
  :root {
    --bg-url: url(/assets/bg-desktop-dark.jpg)
  }
  .light-mode {
    --bg-url: url(/assets/bg-desktop-light.jpg)
  }
}